.square {
  border: 2px solid black;
  height: 200px;
  width: 200px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: auto;
  font-size: 150px; 
  text-align: center;
}

.player1{
  color: gray;
 font-family: 'Times New Roman', Times, serif;
 margin: auto;
 font-size: 24px;
}


.player2{
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  font-size: 24px;
}

.noOne{
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  font-size: 24px;
}